In [1]:
import pandas as pd
import numpy as np

In [11]:
d={
    'A 성적 확률': [0.58, 0.87, 0.55, 0.05],
    'B 성적 확률': [0.65, 0.51, 0.45, 0.05],
}
df = pd.DataFrame(d)
df

   A 성적 확률  B 성적 확률
0     0.58     0.65
1     0.87     0.51
2     0.55     0.45
3     0.05     0.05

In [12]:
df['인센티브'] = [300, 150, 0, -100]

In [13]:
df

   A 성적 확률  B 성적 확률  인센티브
0     0.58     0.65   300
1     0.87     0.51   150
2     0.55     0.45     0
3     0.05     0.05  -100

In [21]:
df['A 기대값'] =  sum(df['인센티브']*df['A 성적 확률'])
df['B 기대값'] =  sum(df['인센티브']*df['B 성적 확률'])

df['A 확률변수 평균'] =  df['A 성적 확률'].mean()
df['B 확률변수 평균'] =  df['B 성적 확률'].mean()

df['A 확률변수 분산'] =  sum(((df['인센티브']-df['A 기대값'])**2)*df['A 성적 확률'])
df['B 확률변수 분산'] =  sum(((df['인센티브']-df['B 기대값'])**2)*df['B 성적 확률'])

df

,A 성적 확률,B 성적 확률,인센티브,A 기대값,B 기대값,A 확률변수 평균,B 확률변수 평균,A 확률변수 분산,B 확률변수 분산
0,0.58,0.65,300,299.5,266.5,0.5125,0.415,76760.0125,46327.435
1,0.87,0.51,150,299.5,266.5,0.5125,0.415,76760.0125,46327.435
2,0.55,0.45,0,299.5,266.5,0.5125,0.415,76760.0125,46327.435
3,0.05,0.05,-100,299.5,266.5,0.5125,0.415,76760.0125,46327.435

In [24]:
# 모평균의 구간추정
# 평균 = 500
# 표준오차 = 100
# 신뢰도 90%, 95%, 99%에서 구간추정으로 평균에 대한 모수 추정

In [25]:
x_mean = 500
se = 100

In [26]:
# s*1.64*2=90%
# s*1.96*2=95%
# s*2.58*2=99%

In [37]:
# 신뢰도 90% 구간
# 500-100*1.64 < mu < 500+100*1.64

# 신뢰도 95% 구간
# 500-100*1.96 < mu < 500+100*1.96

# 신뢰도 99% 구간
# 500-100*2.58 < mu < 500+100*2.58

In [36]:
print('모평균 90% 신뢰구간: ',500-(100*1.64),'~',500+(100*1.64))
print('모평균 95% 신뢰구간: ',500-(100*1.96),'~',500+(100*1.96))
print('모평균 99% 신뢰구간: ',500-(100*2.58),'~',500+(100*2.58))

모평균 90% 신뢰구간:  336.0 ~ 664.0
모평균 95% 신뢰구간:  304.0 ~ 696.0
모평균 99% 신뢰구간:  242.0 ~ 758.0

In [38]:
# 모평균의 신뢰구간(모집단의 표준편차를 아는 경우)
# 전구 수명을 확인
# 표본추출 200개
# 평균 수명 30000
# 모표준편차 500
# 신뢰수준 95%
# 모평균의 신뢰구간을 추정

In [39]:
n = 200
x_mean = 30000
theta = 500

# x_mean - 1.96*(500/np.sqrt(n)) < u < x_mean + 1.96*(500/np.sqrt(n))

In [41]:
print(x_mean - 1.96*(500/np.sqrt(n)), '~', x_mean + 1.96*(500/np.sqrt(n)))

29930.703535443718 ~ 30069.296464556282

In [42]:
# 모평균의 신뢰구간(모집단의 표준편차를 모르는 경우)

In [48]:
arr = np.array([168,160,170,162,168,163,164,167,175,179,161,155])

In [56]:
arr_mean = sum(arr)/len(arr)
arr_mean

166.0

In [60]:
arr_var = sum(((arr-arr_mean)**2))/(len(arr)-1)
arr_var # 표본 분산

44.18181818181818

In [64]:
arr_std = np.sqrt(arr_var)
arr_std # 표본 표준편차

6.646940512883967

In [65]:
arr_se = arr_std/np.sqrt(len(arr))
arr_se # 표준오차

1.918806447200494

In [61]:
# t(0.025,11) = 2.201
# arr_mean - t(0.025, 11)*np.sqrt(arr_var/n) < mu < arr_mean + t(0.025, 11)*np.sqrt(arr_var/n)

In [67]:
print(arr_mean-2.201*arr_se, '~', arr_mean+2.201*arr_se)

161.7767070097117 ~ 170.2232929902883

In [ ]:
n = 300
x_mean = 294.65
x_std = 45